{% extends 'base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="row">
{% if message.tags == "success" %}
    <div class="card">
        {{ message }}
    </div>
{% endif %}
{% if message.tags == "error" %}
    <div class="card error">
        {{ message }}
    </div>
{% endif %}
</div>
{% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <legend>Désinscription séance</legend>
    {% for field in form %}
    <div class="row">
        {{ field.label }}
    </div>
    <div class="row">
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <input class="primary" type="submit" value="Se désinscrire">
</form>

{% endblock content %}
