{% extends 'base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="row">
{% if message.tags == "success" %}
    <div class="card" style="background: rgba(0, 255, 0, 0.2); padding: 20px;">
        {{ message }}
    </div>
{% endif %}
{% if message.tags == "error" %}
    <div class="card error">
        {{ message }}
    </div>
{% endif %}
</div>
{% endfor %}
{% endif %}

<form method="post" class="pure-form pure-form-stacked">
    {% csrf_token %}
    <legend>Inscription créneau</legend>
    {{ form.non_field_errors }}
    {{ form.slot.errors }}
    {% for choice in form.slot %}
    <label for="{{ choice.id_for_label }}" class="pure-radio">
        <input type="radio" id="{{ choice.id_for_label }}"
        name="{{ form.slot.name }}"/>
    {{ choice.choice_label }}
    </label>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <input class="primary" type="submit" value="S'inscrire">
</form>

<form method="post" class="pure-form pure-form-stacked">
    {% csrf_token %}
    {{ form }}
    <input class="primary" type="submit" value="S'inscrire">
</form>

{% endblock content %}
